# IDE project files #
.amateras
.classpath
.project
.pydevproject
*.iml


.idea/
.settings/


# Linux garbage #
.directory

# Target directory #
target/

# Logs #
*.log

*.class

# Package Files #
*.jar
*.war
*.ear
