# old IDE project files #
.amateras
.classpath
.project
.pydevproject
.settings/

# IntellijIDEA's files #
*.iml
.idea/

# Linux garbage #
.directory

# Target directory #
target/

# Logs #
*.log

*.class

# Package Files #
*.jar
*.war
*.ear

